@typeparam TItem where TItem : IDraggable

<div class="snappy-element"
     style="
        position: absolute;
        top: @(CurrentPosition.Y)px;
        left: @(CurrentPosition.X)px;
        width: @(CurrentSize.Width)px;
        height: @(CurrentSize.Height)px;"
     @onmousedown="MouseDownCallback"
     iscolliding="@IsColliding"
     ismoving="@IsMoving"
     isresizing="@IsResizing">
    <div class="snappy-element-content">
        @ElementTemplate(Item)
    </div>
    <div class="de-handles">
        <button class="de-handles-tl" @onmousedown="@(StartResizeFromTopLeft)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0z"/>
            </svg>
        </button>
        <button class="de-handles-tc" @onmousedown="@(StartResizeFromTop)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
            </svg>
        </button>
        <button class="de-handles-tr" @onmousedown="@(StartResizeFromTopRight)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
            </svg>
        </button>
        <button class="de-handles-cl" @onmousedown="@(StartResizeFromLeft)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </button>
        <button class="de-handles-cr" @onmousedown="@(StartResizeFromRight)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </button>
        <button class="de-handles-bl" @onmousedown="@(StartResizeFromBottomLeft)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0z"/>
            </svg>
        </button>
        <button class="de-handles-bc" @onmousedown="@(StartResizeFromBottom)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
            </svg>
        </button>
        <button class="de-handles-br" @onmousedown="@(StartResizeFromBottomRight)" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0z"/>
            </svg>
        </button>
    </div>
</div>

@code {
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; } = default!;
    [Parameter] public TItem Item { get; set; } = default!;
    [Parameter] public Action<SnappyElement<TItem>, MouseEventArgs> OnDragStart { get; set; } = default!;
    [Parameter] public Action<SnappyElement<TItem>, MouseEventArgs, ResizeDirection> OnResizeStart { get; set; } = default!;

    [Parameter] public Position CurrentPosition { get; set; }
    [Parameter] public Size CurrentSize { get; set; }

    public bool IsMoving { get; set; }
    public bool IsColliding { get; set; }
    public bool IsResizing { get; set; }

    internal void UpdatePosition(Position position, Size size)
    {
        CurrentPosition = position;
        CurrentSize = size;
        StateHasChanged();
    }

    private void MouseDownCallback(MouseEventArgs evt)
        => OnDragStart.Invoke(this, evt);
    private void StartResizeFromTopLeft(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.TopLeft);
    private void StartResizeFromTop(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.Top);
    private void StartResizeFromTopRight(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.TopRight);
    private void StartResizeFromLeft(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.Left);
    private void StartResizeFromRight(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.Right);
    private void StartResizeFromBottomRight(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.BottomRight);
    private void StartResizeFromBottom(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.Bottom);
    private void StartResizeFromBottomLeft(MouseEventArgs evt)
        => OnResizeStart.Invoke(this, evt, ResizeDirection.BottomLeft);
}